hr {color: sienna;}
head {background-color:#d2d6d8; color:#ffffff; font-weight:bold; padding: 6px 10px; width:500px;}
body {background-color:#EAEEF0; color:#ffffff; font-weight:bold; padding: 6px 10px; width:500px;}
a {color:#0A0E66;}
p {margin-left: 20px;}